* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #c28847;
}

header {
    width: 100%;
    padding: 25px 20px;
    background-color: white;
    box-shadow: 0px 0px 29px 0px rgb(219, 214, 214) ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
}
.nav-menu {
    margin-top: 90px;
    margin: 0 1.5em;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}
.boton-contacto {
    background-color: #613809;
    border-radius: 100px;
    padding: 15px 40px;
}
.abrir-menu {
    display: none;
    font-size: 16px;
    margin: 0 15px;
    font-family: 'Montserrat', sans-serif;
    color: #2e2e31;
    border: 0;
    background: transparent;
    padding:  6px;

}
.presentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 110px 40px 130px;
}
.imagen { 
    max-width: 500px;
}
img {
    display: block;
    width: 100%;
}
.textos { 
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.h1-1 {
    font-size: 60px;
    color: #c28847;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
}
.h2 {
    font-size: 30px;
    color: rgb(46, 45, 45);
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

.h3 {
    font-size: 16px;
    color: rgb(43, 42, 42);
    font-weight: lighter;
    line-height: 1.4;
    margin-bottom: 40px;
}
.boton {
    background-color: #613809;
    color: black;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-conocimientos, .mis-proyectos {
    background-color: #f6f7fb;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}
.contenedor {
    color: black;
}
.h1-2, .h1-3, .h1-4 {
    font-size: 45px;
    font-weight: bold;
}
p {
    margin: 14px;
    line-height: 1.4;
}
.contenedor-tarjetas {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tarjeta {
    margin: 10px;
    width: 250px;
    background-color: white;
    font-weight: bold;
    border: rgb(202, 201, 201) solid 1px; 
    border-radius: 5px;
    font-size: 16px

}
.tarjeta:hover  {
    border-color: #e9ac67;
    color: #e9ac67;
}
.tarjeta:active {
    box-shadow: 0px 0px 10px 0px #e9ac67 ;
}
div.icono1 {
    padding: 30px;
    font-size: 70px;
}
.seccion-cita {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
    background-color: #c28847;
}
.contenedor-cita {
    line-height: 1.4;
}
div.icono2 {
    font-size: 100px;
    display: flex;
    justify-content: center;
}
.mis-proyectos {
    background-color: white;
}
.contenedor-proyecto  {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.proyecto:hover {
    border-color: #e9ac67;
    color: #e9ac67;
}
.proyecto:active {
    box-shadow: 0px 0px 10px 0px #e9ac67 ;
}
.proyecto {
    width: 370px;
    height: 250px;
    background-color: white;
    font-weight: bold;
    border: rgb(202, 201, 201) solid 1px; 
    border-radius: 5px;
    font-size: 16px;
}
.contenedor-formulario {
    background-color: #f6f7fb;
    padding-top: 200px;
}
.mi-formulario {
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    padding: 110px 40px 130px;
    line-height: 2.5;
    justify-content: center;
}
.p1 {
    margin: 0;
}
.redes {
    margin-top: 40px
}
.datos {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.nombre-apellido {
    display: flex;
}
.icono3 {
    display: flex;
    margin: 5px 0;
}
.usuarios {
    display: flex;    
    align-items: center;    
    padding: 5px 10px;    
    border-radius: 100px
}
.icono3 i {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6.5px;
}
.icono3:hover i{
    background-color: #c28847;
    border-radius: 50px;
}
input, textarea {
    border-radius: 20px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    font-size: 13px;
    padding: 10px 15px;
    display: flex;
    width: 100%;
}
.button {
    border: none;
    background-color: #613809;
    border-radius: 100px;
    padding: 15px 40px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}
footer {
    background-color: #613809;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
}
.nav-pie {
    display: block;
}
.pie-pagina {
    display: flex;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    line-height: 1.4;
}
.pie-menu {
    margin: 0 10px;
    font-size: 14px;
}
.contenedor-iconos {
    display: flex;
    margin: 30px;
}
.icono-pie i {
    background-color: #e9ac67;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
    border: #e9ac67 solid 1px;
}
.icono-pie:hover i{
    background-color: transparent;
}
.icono-pie:active i {
    box-shadow: 0px 0px 10px 0px #e9ac67 ;
}
@media(max-width:1100px){
    .presentacion {flex-direction: column;}
    .textos {
        align-items: center;
        text-align: center;}
    .imagen {margin-top: 30px;}

}
@media(max-width:900px) {
    .mi-formulario {flex-direction: column;
    padding: 0 40px 120px;
    border: 0;}
    .contenedor-formulario {width: 100%;
        margin-bottom: 40px;}
    .formulario {display: flex;
        flex-wrap: wrap;}
}
@media(max-width:800px) {
    .presentacion {flex-direction: column;}
    .textos {flex-direction: column;}
    .h1-1, .h1-2, .h1-3, .h1-4 {font-size: 50px;}
    .h2 {font-size: 30px;} 
    .boton {font-size: 15px;}
}
@media(max-width:750px) {
    .nav-menu, .nav-pie {display: none;}
    .abrir-menu {display: flex;}
    .presentacion {padding: 80px 20px;}

}
@media(max-width:600px){
    .presentacion {flex-direction: column;}
    .textos {flex-direction: column;}
    .h1-1, .h1-2, .h1-3, .h1-4 {font-size: 45px;}
    .h2 {font-size: 20px;} 
    .boton {font-size: 10px;}
}
@media(max-width:500){
    .icono3 {width: 100%;
        margin: 0;
        margin-bottom: 10px;}
    .usuarios {width: 100%;
        margin: 0;
        margin-bottom: 10px}
}
@media(max-width:400px){
    .presentacion {flex-direction: column;}
    .textos {flex-direction: column;}
    .h1-1, .h1-2, .h1-3, .h1-4 {font-size: 40px;}
    .h2 {font-size: 15px;}
    .boton {font-size: 5px;}
    .contenedor-formulario {background-color: white;
        padding: 20px 20px 20px 9px;}
    .nombre-apellido {flex-direction: column;}
    .mi-formulario {padding: 20px 20px 20px 0;}
}